.App {
  text-align: center;

  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 30px 50px 20px 50px; */
  box-sizing: border-box;

  background-image: url("./background.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
   /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .dFlex{
  display: flex;
  justify-content: center;
  align-items: center;
} */
 /* .container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  
}  */

    .main_content{
   display:flex; 
  
   justify-content: center;
  align-items: center;
  
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;}
   h3{
    position: absolute;
    left: 0;
    top:0;
    
    color: teal;
    font-size:10.5px;
  } 
  .item{ 
  width: 30%;
  /* border:thick; */
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  display:  flex;
  background-color: #cccccc;
  flex-direction: column;
  position: relative;
  transform: scale(.8);
  padding: 10px 30px 30px 10px;

  transition: all .3 ease-in-out;
  margin-bottom:50px; }
   .card_img{
    margin-top: -5vw;}
    img{
      width: 200px;
    }
  
  
  
 
 
   
 
 .item_header{
  display: flex;
  flex-direction: column;
  color: black;
  margin:25px 0;
 }
  h2{
    font-size:15px;
  }
  h2{
    font-size: 10px;
    text-align: center;
    margin: 8px 0;
  }
  .price{
    font-size: 25px;
    font-weight: bold;
    color: rgb(250, 101, 64);}
    span{
      font-size: 15px;
      display: inline-block;
    }
  


.item:hover{
background-color: darkcyan;
transform:scale(1.1);
cursor: pointer;
}

.btn1:hover{
  
  background-color: #ffa600;
}

 

.btn{
  width: 200px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  display: flex;
  margin-left: 0%;
}
  
.text-center{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
   
.btn1{
  width: 260px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  display: flex;
 margin-left: 10%;
 
}
.btn2{
  margin-left: 1%;
 }
 .btn3{
  width: 250px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  display: flex;
  margin-left: 3%;
}
  

 
 .background-image {
  background-image: url("./background.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}