.a{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
  
    
    background-color: #cccccc; 
    
    background-position: right; 
    
    background-repeat: no-repeat; 
    
    background-size: cover;
}

.main_content{
    display:flex; 
   
    justify-content: center;
   align-items: center;
   
   position: relative;
   width: 70%;
   height: 100%;
   margin: 50px auto;
   padding: 50px 0 0;
   box-sizing: border-box;
   justify-content: space-between;
   flex-wrap: wrap;}
    .hh3{
     position: absolute;
     left: 0;
     top:0;
     
     color: teal;
     font-size:10.5px;
   } 
   .item{ 
   width: 30%;
   /* border:thick; */
   border-style: solid;
   border-color: white;
   border-radius: 15px;
   display:  flex;
   background-color: #cccccc;
   flex-direction: column;
   position: relative;
   transform: scale(.8);
   padding: 10px 30px 30px 10px;
 
   transition: all .3 ease-in-out;
   margin-bottom:50px; }
    .card_img{
     margin-top: -5vw;}
     .imagee{
       width: 200px;
     }
   
   
   
  
  
    
  
  .item_header{
   display: flex;
   flex-direction: column;
   color: black;
   margin:25px 0;
  }
   /* .hh2{
     font-size:15px;
   } */
   .hh2{
     font-size: 10px;
     text-align: center;
     margin: 8px 0;
   }
   .price{
     font-size: 25px;
     font-weight: bold;
     color: rgb(250, 101, 64);}
     .spann{
       font-size: 15px;
       display: inline-block;
     }
   
 
 
 .item:hover{
 background-color: darkcyan;
 transform:scale(1.1);
 cursor: pointer;
 }
 
 
 
  
 
 .pbtn{
   width: 200px;
   height: 35px;
   font-size: 14px;
   border-radius: 5px;
   display: flex;
   margin-left: 42%;
   background-color: rgb(19, 144, 228);
 }
 .pbtn:hover{
   
  background-color: #0059ff;
}
 
 .text-centerr{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
 }
    
 .pbtn1{
   width: 260px;
   height: 35px;
   font-size: 18px;
   border-radius: 12px;
   display: flex;
  margin-left: 3%;
  
 }
 .pbtn1:hover{
   
  background-color: #ff9100;
}
 .pbtn2{
   margin-left: 1%;
  }
  .pbtnEdit{
   width: 250px;
   height: 35px;
   font-size: 16px;
   border-radius: 12px;
   display: flex;
   margin-left: 3%;
 }
 .pbtnEdit:hover{
   
  background-color: #fffb00f1;
}

.pbtnDelete{
  width: 250px;
  height: 35px;
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  margin-left: 3%;
}
  
.pbtnDelete:hover{
  
 background-color: #f54a06;
}

  
  .background-image {
   background-image: url("../background.png");
    /* The image used */
   background-color: #cccccc; /* Used if the image is unavailable */
   height: 500px; /* You must set a specified height */
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
 }